{% extends "base.html" %}

{% block page_title %}Get to know us and why we're starting the conversation.{% endblock %}

{% block content %}
<div id="about" class="cf page">

	<!-- main messaging and ctas -->
	<div class="container cf mbot whitebg">
		<div class="row">
			<div class="span6">
				<div class="addpad">
					<img src="{{ STATIC_URL }}img/horizon-brand-large-black.png" alt="Horizon is acommunity conversation on entrepreneurship, innovation and creativity happening in Elkhart County, Indiana">
				</div>
			</div>
			<div class="span6">
				<div class="addpad">
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum. Fusce lobortis tortor diam, ut laoreet nisl. Donec sagittis consequat ultrices. Cras ac dignissim nisi. Vivamus laoreet neque sed tellus pellentesque at venenatis metus dapibus. Nullam id enim velit.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- profiles -->
	<div class="container cf">
		<div class="row mbot">
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
		</div>
		<div class="row mbot">
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
			<div class="profile span3 whitebg">
				<img src="http://placehold.it/270x270" alt="name">
				<div class="bio addpad">
					<h2>Jon Savage</h2>
					<h3>Title of person</h3>
					<p>Vivamus eget enim at nisl iaculis ornare a laoreet justo. Quisque nibh magna, interdum eu venenatis in, sagittis faucibus ipsum.</p>
				</div>
			</div>
		</div> 
	</div>
</div>
{% endblock %}
