{% extends "base.html" %}

{% block page_title %}Need something? Wanna talk? Get in touch.{% endblock %}

{% block content %}
<div id="about" class="cf page">

	<!-- main messaging and ctas -->
	<div class="container cf mbot whitebg">
		<div class="row">
			<div class="span6">
				<div class="addpad">
					<img src="{{ STATIC_URL }}img/horizon-brand-large-black.png" alt="Horizon is acommunity conversation on entrepreneurship, innovation and creativity happening in Elkhart County, Indiana">
				</div>
			</div>
			<div class="span6">
				<div class="addpad">
					<h3>Email</h3>
					<p>info@horizonelkhartcounty.com</p>
					<h3>Phone</h3>
					<p>440.591.8799</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
