{% extends "base.html" %}

{% block page_title %}{% if is_create %}Create an account.{% else %}Login to your account.{% endif %}{% endblock %}

{% block content %}
<div id="login" class="cf page">

	<div class="container cf mbot">
		<h1 class="title"></h1>
	</div>
	
	<!-- 
		included to demo returned error functionality
		// possible errors:
		wrong pass
		user doesn't exist
		user exists (when signing up)
	 -->
	<div class="container cf mbot whitebg">
		{% if form.errors %}
			<div class="addpad">
				<h1>Oops. There were some erros.</h1>
				{{ form.errors }}
			</div>
		{% endif %}
	</div>
	
	<div class="controls container mbot">
		<div class="row">
			<div class="span3">
				<a class="{% if not is_create %}current {% endif %}small-block-link" href="{% url 'account_login' %}">I have an account already</a>
			</div>
			<div class="span3">
				<a class="{% if is_create %}current {% endif %}small-block-link" href="{% url 'account_create' %}">I need to signup.</a>
			</div>
		</div>
	</div>

	<div class="container cf mbot whitebg">
		<div class="row">
			<form action="." method="post">{% csrf_token %}
				<fieldset>
					<div class="span12">
						<div class="addpad">
							<h1>Enter your information</h1>
							{% if is_create %}
							<label>{{ form.first_name.label }}</label>
							{{ form.first_name }}
							{% endif %}
							<label>{{ form.username.label }}</label>
							{{ form.username }}
							<label>{{ form.password.label }}</label>
							{{ form.password }}
						</div>
					</div>
					<div class="span3">
						<div class="addpad">
							<button class="small-block-link" href="#">Get in the system</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="paginate container mbot">
		<div class="row">
			<div class="span3 pull-left">
				<a class="small-block-link" href="#">I forgot my password.</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}
