{% extends "base.html" %}

{% block page_title %}Your Account Controls. Manage it all from here.{% endblock %}

{% block content %}
<div id="about" class="cf page">

	<div class="container cf mbot">
		<h1 class="title"></h1>
	</div>
	
	<div class="container cf mbot whitebg errors">
		<div class="addpad">
			<h1>Errors</h1>
			<p>The two passwords did not match.</p>
		</div>
	</div>
	
	<div class="container whitebg mbot account-settings">
		<div class="span12 mbot">
				<h2 class="sub-head">Login & contact settings</h2>
				<label>Your Name</label>
				<input class="slide-login" type="text" placeholder="Jonathan Savage">
				<label>Email address</label>
				<input type="text" placeholder="jon@studioaceofspade.com">
				<div class="span3 kill-margin">
					<a class="small-block-link" href="#">Save changes</a>
				</div>
				<div class="float-fix">
					<h2>Reset your password</h2>

					<label>Password</label>
					<input type="password">
					<input type="password">
					<div class="span3 kill-margin">
						<a class="small-block-link back" href="#">Update Password</a>
					</div>
				</div>
		</div>
	</div>
				
	<!-- main messaging and ctas -->
	<div class="container cf mbot whitebg">
		<div class="row">
			<div class="span12">
				<table class="table ideas">
					<colgroup>
						<col span="1" style="width: 15%;">
						<col span="1" style="width: 70%;">
						<col span="1" style="width: 15%;">
					</colgroup>
					<thead>
						<tr>
							<th>Likes</th>
							<th>The Idea</th>
							<th>Date Posted</th>
						</tr>
					</thead>
					<tbody>
						{% for idea in ideas %}
						<tr>
							<td>
								{% include "idea/include/tally_cell.html" %}
							</td>
							<td>
								<h3>{{ idea.title }}</h3>
								<p>{{ idea.description }}</p>
								
							</td>
							<td class="date"><p>{{ idea.created }}</p></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% if ideas.has_other_pages %}
	<div class="paginate container mbot">
		<div class="row">
			{% if ideas.has_previous %}
			<div class="span3 pull-left">
				<a href="?page={{ ideas.previous_page_number }}" class="small-block-link">Previous</a>
			</div>
			{% endif %}
			{% if ideas.has_next %}
			<div class="span3 pull-right">
				<a href="?page={{ ideas.next_page_number }}" class="small-block-link">Next</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}           
