{% extends "base.html" %}

{% block page_title %}Tell us your idea! Help grow your community.{% endblock %}

{% block content %}
<div id="submit" class="cf page">
	<div class="container cf mbot">
		<h1 class="title"></h1>
	</div>
	<div class="container cf mbot whitebg form-errors-container" style="display: none">
        <div class="addpad">
            <h1>Oops. There were some erros.</h1>
            <div class='form-errors'></div>
        </div>
	</div>
	
	<!-- main messaging and ctas -->
	<div class="cf mbot">
		<div class="slideshow mbot">
			<!-- title -->
			<div class="slide title-input">
				<div class="container whitebg">
					<div class="row">
						<div class="span12">
							<div class="addpad">
								<h1>{{ idea_form.title.label }}</h1>
								{{ idea_form.title }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="paginate">
							{% include "idea/include/slide_next.html" %}
						</div>
					</div>
				</div>
			</div>
			
			<!-- describe idea -->
			<div class="slide description-input">
				<div class="container whitebg">
					<div class="row">
						<div class="span12">
							<div class="addpad">
								<h1>{{ idea_form.description.label }}</h1>
								{{ idea_form.description }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="paginate">
							{% include "idea/include/slide_back.html" %}
							{% include "idea/include/slide_next.html" %}
						</div>
					</div>
				</div>
			</div>

			<!-- tag it -->
			<div class="slide tag-input">
				<div class="container whitebg">
					<div class="row">
						<div class="span12">
							<div class="slide-head">
								<h1>Tag your idea!</h1>
							</div>
						</div>
					</div>
					<div class="row idea-create-tags">
						{% for value, tag in idea_form.fields.tag.choices %}
						{% if forloop.counter != 1 %}
						<div class="span3">
							<div class="addpad">
								<a href="#" class="small-block-link{% if forloop.counter == 2 %} current{% endif %}" data-val="{{ value }}">{{ tag }}</a>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<div class="row">
						<div class="paginate">
							{% include "idea/include/slide_back.html" %}
							{% if not user.is_authenticated %}
							{% include "idea/include/slide_next.html" %}
							{% else %}
							<div class="span3 pull-right slide-next">
								<div class="addpad">
									<button class="small-block-link submit-your-idea">Submit your idea!</button>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
					
				</div>
			</div>
			
			{% if not user.is_authenticated %}
			<!-- account creation -->
			<div class="slide user-login-input">
				<div class="container whitebg">
					<div class="row">
						<div class="span12">
							<div class="slide-head">
								<h1>Enter your information</h1>
							</div>
							<div class="row">
								<div class="span3 slide-spacer">
									<a href="#" class="current small-block-link already-have-account">I have an account already</a>
								</div>
								<div class="span3">
									<a href="#" class="small-block-link need-to-login">I need to signup.</a>
								</div>
								<div class="span3 pull-left">
									<a class="small-block-link forgot-password-link" href="{% url 'account_forgot_password' %}" target="_blank">I forgot my password.</a>
								</div>
							</div>
						</div>
						<div class="span12">
							<form class="slide-spacer">
								<fieldset>              
									<label class="first-name-label">{{ user_form.first_name.label }}</label>
									{{ user_form.first_name }}
									<label>{{ user_form.username.label }}</label>
									{{ user_form.username }}
									<label>{{ user_form.password.label }}</label>
									{{ user_form.password }}
									<div class="span3 kill-margin pull-left slide-back">
										<a class="small-block-link back" href="#">I need to go back and change something.</a>
									</div>
									<div class="span3 pull-right slide-next">
										<button class="small-block-link submit-your-idea">Submit your idea!</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			
			<!-- error/success panel -->
			<div class="slide">
				<div class="container whitebg">
					<div class="row">
						<div class="span12">
							<div class="slide-head">
								<h1>Thanks!</h1>
							</div>
							<div class="mbot addpad">
								<p>Your idea looks awesome! Share it with your friends!</p>
								<a href="#" class="thepermalink">thepermalink</a>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<form action="{% url 'idea_create' %}" method="post" style="display: none" class="submit-form">{% csrf_token %}
	{{ idea_form }}
	{{ user_form }}
</form>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/script.js"></script>
<script src="{{ STATIC_URL }}js/cycle.js"></script>
<script src="{{ STATIC_URL }}js/ideaCreate.js"></script>
{% endblock %}
